*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

.container{
    width:100%;
    height:100vh;
    background:#3c5077;
    display:flex;
    align-items:center;
    justify-content:center;
}

.btnz{
    padding:10px 40px;
    margin-top: 20px;
    background:rgb(60, 157, 60);
    border: 0;
    outline: none;
    cursor:pointer;
    font-size:22px;
    font-weight:500;
    border-radius:30px;
}

.popup{
    width:400px;
    background:#fff;
    border-radius:6px;
    position:absolute;
    top:0%;
    left:50%;
    transform:translate(-50%,-50%)scale(0.1);
    padding: 0 30px 30px;
    color:#333;
    visibility:hidden;
    transition:transform 0.4s, top 0.6s;
    border: 2px solid green;
}

.openPopup{
    visibility:visible;
    top:50%;
    transform:translate(-50%,-0%)scale(1);
}

.popup img{
    width:100px;
    margin-top: -50px;
    border-radius:50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

}

.popup h2{
    font-size:38px;
    font-weight: 500;
    margin: 30px 0 10px;
    
}

.popup button{
    width:100%;
    margin-top: 50px;
    padding:10px 0;
    background:#6fd649;
    color:#fff;
    border: 0;
    outline:none;
    font-size:18px;
    border-radius: 4px;
    cursor:pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


body {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}
.golo{
    left:50px;
    width:8%;
    border-radius:50%;
    margin: 0 auto;
    box-shadow:0 0 10px rgba(0,0,0, .2);
}

.sbutton{
    width:10%;
    border-radius:7%;
    margin: auto 0;
    box-shadow:0 0 10px rgba(0,0,0, .2);
    background:white;
    padding-bottom:2px;
    color:green;
    font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
}

.Verified{
  margin-left: 5px;
}

.tick{
  width: 3%;
  height: 5%;
  margin-bottom: 2px;
}